*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #5432ea;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  padding: 5.375rem 1.5rem 1.875rem;
  width: 100%;
}

form {
  display: block;
  margin-top: 0em;
}

form p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

form input {
  all: unset;
  border-bottom: 0.0625rem solid #fff;
  border-top: 0.0625rem solid #fff;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 0.875rem;
  margin-top: -0.0625rem;
  max-width: 32rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.form__submit {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  all: unset;
  align-items: center;
  background: #fff;
  border-radius: 9999px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #5432ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  justify-content: space-between;
  margin-top: calc(1.875rem + 1.5rem);
  max-width: 32rem;
  padding: 0.5rem 0.5rem 0.5rem 2.6875rem;
  width: 100%;
  cursor: pointer;
}
